extends ./common 
block common
    .container.mt-5
        h3 
            strong About
        div
            p.mb-1 Create by:
            p.mt-1 
                a(href="#") Dan Wahlin
        div
            p.mb-1 Blog
            p.mt-1 
                a(href="Weblogs.asp.net/dwahlin") Weblogs.asp.net/dwahlin
        div 
            p.mb-1 Github
            p.mt-1 
                a(href="https://github.com/tamto58713/nodejs") https://github.com/tamto58713/nodejs
        div 
            p.mb-1 Traning
            p.mt-1 
                a(href="https://github.com/tamto58713/nodejs") link for training your code
        