extends ../common 
block common    
    h3.mt-5.ml-2 Login
    .container(style="width: 500px; margin-left: 20px")
        form.form-inline(method="POST")
            label(for="email") Email:
            input.form-control.ml-auto(name="email", type="text", id="email")
        form.form-inline(method="POST")
            label(for="password") Password:
            input.form-control.ml-auto(name="password", type="password", id="password")
        button.btn.btn-success Login
    